<div class="contact-card">
    <div class="photo-container">
        <h1 class="title-text">Contact info</h1>
       <!--  <img src="../src/assets/profile.png">-->
    </div>  
    <div class="mail-container">
        <img src="../src/assets/mail.png"/>
        <p class="mail-text">johanvibarra7@gmail.com</p>
    </div>
    <div class="phone-container">
        <img src="../src/assets/phone.png"/>
        <p class="phone-text">+(52) 449 585 94 72 </p>
    </div>

    <div class="extra-grid">
        <a href="https://github.com/HanjoBulKing7" id="github-icon" class="grid-element"
        target="_blank"
        rel="noopener noreferrer">
            <img src="../src/assets/github-brands-solid.svg"/>
        </a>
        <a href="https://www.linkedin.com/in/johanvillalpando7/" id="linkedin-icon" 
        class="grid-element"
        target="_blank"
        rel="noopener noreferrer">
            <img src="../src/assets/linkedin-brands.svg"/>
        </a>
        <a id="cv-icon" class="grid-element" href="../src/files/JOHANCV.pdf" 
         download="JohanYahirVillalpandoIbarraCV.pdf"
         target="_blank"
         rel="noopener noreferrer">
            <img src="../src/assets/file-user.svg">
        </a>
    </div>
</div>