<nav class="navbar">
    <ul>
        <li><a href="#">&gt; Sobre mí</a></li>
        <li><a href="#">&gt; Educación</a></li>
        <li><a href="#">&gt; Proyectos</a></li>
        <li><a href="#">&gt; Información de contacto</a></li>
    </ul>
</nav>