$default-background-color: #171616;//Background default color
$text-color: #fff;//Text default color
$defualt-border-radius: 1.5vw;//
$command-prompt-font: 'VT323', monospace;
$mono_custom_font: 'IBM Plex Mono', monospace;