<div class="about-card">
    <div class="title">
        <h1>Sobre mí</h1>
    </div>
    <div class="description">
        <p>Soy un estudiante en desarrollo y gestión de software, encantado de aprender por cuenta propia y siempre buscnado la forma de mejorar mis habilidades.
        </p>
    </div>
</div>